<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>

  <p>
      To-Do list for user: {{ .Author }}
  </p>
  <table>
      <tr>
        <td>Task</td>
        <td>Done</td>
    </tr>
      {{ with .NewsList }}
        {{ range . }}
          <tr>
                <td>{{ .Title }}</td>
                <td>{{ if .Done }}Yes{{ else }}No{{ end }}</td>
          </tr>
        {{ end }}
      {{ end }}
  </table>

</body>
</html>
